{% extends 'back.html.twig' %}
{% block body %}
    <h1><a href="{{ path('pdf',{'id':class.id}  ) }}"> List of students (pdf)</a></h1>

<div class="page-content-wrapper ">
        <div class="container sm-gutter">
            <br>
            <br>
            <div style="float: right"><br>


                <a href="{{ path('Listlass') }}" class="btn btn-secondary">
                    <i class="fa fa-undo" aria-hidden="true"></i>  Go Back</a>
                <br>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9">
                            <h1><b>Students of {{ class.nameC }} </b></h1>
                        </div>
                        <div class="col-md-3 text-right">
                            <div class="input-group ">
                                <input id="myInput" type="text" class="form-control" placeholder="Search">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <table class="table table-bordered " id="myTable">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">IMAGE</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Birth Day</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% for member in students %}
                                <tr>
                                    <td>{{member.id}}</td>
                                    <td style="width: 60px; padding:0px; text-align: center">
                                        {% if member.image != '' %}
                                            <img alt="Livre Pic" style="width:150px;" src="{{ asset('/../../images/uploads/') }}{{ member.image }}" /> {% endif %}
                                    </td>

                                    <td>{{member.firstname|capitalize }} {{ member.lastname|capitalize }}</td>
                                    <td>{{member.email}}</td>
                                    <td>{{member.gender}}</td>
                                    <td>{{member.birthDay |date("m/d/Y") }}</td>



                                    <td> <a href="{{ path("Listsupprimer",{'idStudent':member.id ,'id':class.id}) }}"
                                       data-toggle="tooltip" title="Delete Class">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a> </td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripte %}
    <script>
        $(document).ready(function() {
            $('#myInput').keyup(function() {
                search_table($(this).val());
            });


            function search_table(value) {
                $('#myTable tr').each(function() {
                    var found = 'false';
                    $(this).each(function() {
                        if ($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0) {
                            found = 'true';
                        }
                    });
                    if (found == 'true') {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
    </script>
{% endblock %}